@tailwind base;
@tailwind components;
@tailwind utilities;
.swiper {
    width: 90%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 

  /* Light Mode (default) */
.light {
  background-color: #f4f4f9;
  color: #222;
}

/* Dark Mode */
.dark {
  background-color: #1a202c;
  color: #f4f4f9;
}

/* Button Hover Transition */
button:hover {
  transition: background-color 0.3s ease-in-out;
}
